# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/frontendpages_db"

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""

# Sentry
NEXT_PUBLIC_SENTRY_CSP_REPORT_ENDPOINT=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# Upstash Redis
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
