# client
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
NEXT_PUBLIC_SENTRY_DSN=""
NEXT_PUBLIC_SENTRY_CSP_REPORT_ENDPOINT=""

# server
NEXTJS_ENV=development
BETTER_AUTH_SECRET=
SENTRY_ORG=""
SENTRY_PROJECT=""
SENTRY_DSN=""
POLAR_ACCESS_TOKEN=""
POLAR_WEBHOOK_SECRET=""
