@import "@repo/tokens/tailwindcss";
@plugin "@toolwind/corner-shape";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *::selection {
    @apply bg-selection text-selection-foreground;
  }

  * {
    &::-webkit-scrollbar {
      width: 0.25rem;
    }

    &::-webkit-scrollbar-track {
      @apply bg-white;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-black;
    }
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
