@import "@repo/tokens/tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
}

.dark {
  --background: var(--color-black);
  --foreground: var(--color-white);
}

body {
  background: var(--background);
  color: var(--foreground);
}
